.momContainer 
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
}

.momList 
{
    visibility: hidden;
}

.momTitle 
{
    position:absolute;
    display: flex;
}

@media screen and (min-width: 700px) 
{
    .momContainer
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
       
    }

    .momList 
{
    visibility: visible;
    margin-left: 95%;
}

    
   
}