.momContainer 
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
}
@media screen and (min-width: 700px) 
{
    .momContainer
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
       
    }
}